<p>Dear {{username}},</p>
<p>
  Thank you for registering with our platform. To complete your account setup, please confirm your email address by
  clicking the link below:
</p>
<a href={{url}}>Confirm account</a>
<p>
  If you did not create an account or have received this email by mistake, please ignore it.
</p>
<p>Thank you,</p>
<p>The Auth Server Team</p>